VUE_APP_I18N_LOCALE=en
VUE_APP_I18N_FALLBACK_LOCALE=en
VUE_APP_CACHE_MAX_AGE=3600
VUE_APP_BASE_URL=VUE_APP_BASE_URL
VUE_APP_VIEW_SIZE=10
VUE_APP_UNFILLABLE_REASONS=[{"id": "", "label": "No reason"}, {"id": "NOT_IN_STOCK", "label": "Not in stock"}]
VUE_APP_PRDT_IDENT_TYPE_ID=SHOPIFY_PROD_SKU
VUE_APP_ORD_IDENT_TYPE_ID=SHOPIFY_ORD_NAME
VUE_APP_BASE_URL=
VUE_APP_PACKING_SLP_ENBLD_DMN=["odb-oms", "odb-uat", "dev-apps"]
